[submodule "submodules/nerfstudio"]
	path = submodules/nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
[submodule "submodules/gsplat"]
	path = submodules/gsplat
	url = https://github.com/nerfstudio-project/gsplat.git
